{
  "token": "DISCORD_BOT_TOKEN",
  "prefix": "s!",
  "activity": "s!help | discord.gg/invitelink",
  "botOwnerID": "128810662880083968",
  "topggBotAPIKey": "",
  "topggBotID": "",
  "OWMKey": "",
  "twitterConsumerKey": "",
  "twitterConsumerSecret": "",
  "twitterAccessKey": "",
  "twitterAccessSecret": ""
}